# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [4]:
import pandas as pd

In [6]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB', 'FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah', 'A'],
       'Sales':[200,120,340,124,243,350, 300]}

In [8]:
df = pd.DataFrame(data)

In [20]:
df.groupby('Company')

In [22]:
df.groupby('Company')['Person'].count()

Company
FB      3
GOOG    2
MSFT    2
Name: Person, dtype: int64

In [24]:
df.groupby('Company')[['Sales']].min()

         Sales
Company
FB         243
GOOG       120
MSFT       124

In [26]:
df.groupby('Company')[['Sales']].describe()

        Sales
        count        mean         std    min    25%    50%    75%    max
Company
FB        3.0  297.666667   53.538148  243.0  271.5  300.0  325.0  350.0
GOOG      2.0  160.000000   56.568542  120.0  140.0  160.0  180.0  200.0
MSFT      2.0  232.000000  152.735065  124.0  178.0  232.0  286.0  340.0

In [28]:
df.groupby('Company')['Sales'].sum()

Company
FB      893
GOOG    320
MSFT    464
Name: Sales, dtype: int64

In [30]:
df.groupby('Company')['Sales'].max()

Company
FB      350
GOOG    200
MSFT    340
Name: Sales, dtype: int64

You can save this object as a new variable:

And then call aggregate methods off the object:

More examples of aggregate methods: